
.layout {
  width: 100%;
  height: calc(100vh - 80px);
  overflow: auto;
  // position: relative;
}

.nav {
  padding: 16px 20px;
}

.letter-heading {
  // background-color: red;
  padding: 8px 20px;
  font-size: 14px;
  color: grey;
}

.contact-cell {
  padding: 16px 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  width: 100%;

  &:hover {
    transition: 0.2s;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    // filter: brightness(150%);
  }
}

.selected {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.fab {
  position: fixed !important;
  bottom: 32px;
  right: 32px;
}